{% extends "meetups/base/base.html" %}
{% load static %}
{% block title %}
  All Meetups
{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="{% static "meetups/styles/meetups.css" %}">
{% endblock styles %}
{% block main_heading %}
  We got great meetups coming up!
{% endblock main_heading %}
{% block header_content %}
  Find the one that best suits your needs!
{% endblock header_content %}
{% block content %}
  <section>
    <h2>Upcoming Meetups</h2>
    <ol>
      {% for meetup in meetups %}
        <li class="meetup-item">
          <article>
            <div class="meetup-summary">
              <div class="meetup-image">
                <img src="" alt="" width="300" height="300">
              </div>
              <div class="meetup-details">
                <h3>{{ meetup.title }}</h3>
                <address>{{ meetup.location }}</address>
              </div>
            </div>
            <div class="meetup-actions">
              <a href="{% url "meetup-details" slug=meetup.slug %}" class="btn">More Details</a>
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endblock content %}
