{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>
      {% block title %}
        My Meetups
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "meetups/styles/base.css" %}">
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <header id="main-header">
      <nav>
        <a href="{% url "meetup-list" %}" id="main-logo">DjangoMeetups</a>
      </nav>
      <h1>
        {% block main_heading %}
          We got great meetups coming up!
        {% endblock main_heading %}
      </h1>
      <p>
        {% block header_content %}
          Find the one that best suits your needs!
        {% endblock header_content %}
      </p>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
